<div id='interactive' class=''>
  <div id='overlay'></div>
  <div id='share' class='modal'>
      <a href='#' class='icon close'>Close</a>
      <div class='inner clearfix'>
        <a href='#' class='icon close' title='Press ESC to close'>X</a>
        <h3>Share this map</h3>
        <a id='facebook' target='_blank'>Facebook</a>
        <a id='twitter' target='_blank'>Twitter</a>
        <div id='embed-code-field'><textarea id='embed-code' rows='4' onclick='this.focus();this.select()' readonly='readonly'></textarea></div>
        <small><strong>Get the embed code. </strong>Copy and paste this HTML into your website or blog.</small>
      </div>
    </div>
  <div id='map-container'>
    <div id='map'></div>
    <div id='controls'>
      <a href='#' class='share'>share</a>
    </div>
    <div id='slide-container'>
      <div id='slider'class='dragdealer'>
        <div id='slide-bar' class='bar handle'></div>
      </div>
    </div>
    <select id='year-select'>
      <option value='2011' selected='selected'>2011</option>
      <option value='2010'>2010</option>
    </select>
  </div>
</div> 
<div class='test'>
 
<!-- This is where you would insert more totals with span tags with the class "2010, 2011, etc. Make sure that
you also add style='display: none;' so that new values are hidden on load until selected by year switcher. -->
    
  <h3 class='totals'>Insecurity and Displacement for 2011: 
      <span class='year2011' style="display: none;">1.7 million </span>  
      <span class='year2010' style="display: none;"> </span> 
    IDPs and 
      <span class='year2011' style="display: none;">822,688</span> 
      <span class='year2010' style="display: none;"></span>
    returnees</h3>
  <div id='sidebar'>
    <h2 class='title inner'>Mapping Conflict in the DRC</h2>
        <p class='inner'>Humanitarian needs remain high due to continuing armed conflicts and general insecurity. An estimated 1.5 million people are displaced. Millions of people live in fear and rely on humanitarian aid for survival.</p>
        <ul class='layers'>
               <li class='active'>
                    <a id='lra' href='#'>LRA Related Attacks<span class='icon'>&nbsp;</span></a>
               </li>
               <li class='active'>
                    <a id='sec' href='#'>Humanitarian Incidents<span class='icon'>&nbsp;</span></a>
               </li>
               <li class='active'>
                    <a id='idp' href='#'>Internally Displaced Persons<span class='icon'>&nbsp;</span></a>
               </li>
               <li class='last'>
                    <a id='ret' href='#'>Returnees<span class='icon'>&nbsp;</span></a>
               </li>
        </ul>
                <div class='graphs'>
                    <img class='year2011' src="http://chart.apis.google.com/chart?chf=bg,s,F4F4F0&chxl=1:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec&chxr=0,0,60&chxs=0,676767,10.5,0,l,676767|1,676767,9.833,-0.333,l,676767&chxt=y,x&chbh=a,3,7&chs=330x230&cht=bvg&chco=444444,888888&chds=0,60,0,60&chd=t:31,27,26,13,18,53,20,9,7,10,10,0|14,27,10,7,22,12,7,21,17,14,15,0&chdl=LRA+Related+Attacks|Sec.+Incidents+Against+Humanitarian+Workers&chdlp=b&chma=|5&chtt=2011+Security+Incidents&chts=676767,13" width="310" height="210" alt="2011 Security Incidents" />
                    <img class='year2011' src="http://chart.apis.google.com/chart?chf=bg,s,F4F4F0&chxl=0:|Q1|Q2|Q3|Q4|1:|1+Mil|2+Mil|3+Mil&chxr=0,1000000,3000000|1,1999995,6000000&chxt=x,y&chbh=13,6,31&chs=330x190&cht=bvg&chco=3E3F3C,ABADAB&chds=0,3000000,0,3000010&chd=t:2424090,1985218,2168111,0|1017049,1244408,1130541,0&chdl=IDPs|Returnees&chdlp=b&chma=|0,15&chtt=2011+IDPs+and+Returnees&chts=676767,12" width="345" height="190" alt="2011 IDP and Returnees" />
                    <img class='year2010' src="http://chart.apis.google.com/chart?chf=bg,s,F4F4F0&chxl=1:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec&chxr=0,0,60&chxs=0,676767,10.5,0,l,676767|1,676767,9.833,-0.333,l,676767&chxt=y,x&chbh=a,3,7&chs=330x230&cht=bvg&chco=444444,888888&chds=0,60,0,60&chd=t:21,21,26,15,15,13,15,11,16,13,15,18|25,18,21,16,13,11,27,16,25,15,16,13&chdl=LRA+Related+Attacks|Sec.+Incidents+Against+Humanitarian+Workers&chdlp=b&chma=|5&chtt=2010+Security+Incidents&chts=676767,13" width="310" height="210" alt="2011 Security Incidents" />
    
<!-- This is where you would insert more google chart graph image tags with the class "2010, 2011, etc." -->     
    
                </div>
    
                 <div class="disclaimer">
                   <div class="disclaimer-inner">
                   <small><strong>Disclaimer:</strong> <br>Boundaries and names shown and the designations used on all maps do not imply endorsement from the United Nations.</small>
                  </div>
                </div>
  </div>
  </div>
<script src='{{site.baseurl}}/wax/modestmaps.min.js'></script>
<script src='{{site.baseurl}}/wax/wax.mm.min.js'></script>
<script>
  $(document).ready(function () {
    RW.interactive();
  });
</script>
