<div id='header'>
  <a href='/taxonomy/term/75' class='active'><img src='http://reliefweb.int/sites/reliefweb.int/files/styles/s/public/country-icons/cod.png' width='40' height='40' alt='' /></a>
  <h1>Democratic Republic of the Congo (the): Insecurity and Displacement</h1>
</div>

<div id='interactive' class='clearfix'>
  <div id='map-container'>
    <div id='overlay'></div>
    <div id='map'></div>
    <div id='controls'>
      <a href='#' class='share'>Share</a>
    </div>
    <div id='share' class='modal'>
      <a href='#' class='icon close'>Close</a>
      <div class='inner clearfix'>
        <a href='#' class='icon close' title='Press ESC to close'>X</a>
        <h3>Share this map</h3>
        <a id='facebook' target='_blank'>Facebook</a>
        <a id='twitter' target='_blank'>Twitter</a>
        <div id='embed-code-field'><textarea id='embed-code' rows='4' onclick='this.focus();this.select()' readonly='readonly'></textarea></div>
        <small><strong>Get the embed code. </strong>Copy and paste this HTML into your website or blog.</small>
      </div>
    </div>
    <div id='slider'class='dragdealer'>
      <div id='slide-bar' class='bar handle'></div>
    </div>
  </div>

  <div id='sidebar'>
    <div id='sidebar-inner'>
      <h2 class='title inner'>Mapping Conflict in the DRC</h2>
      <p class='inner'>Humanitarian needs remain high due to continuing armed conflicts and general insecurity. An estimated 1.5 million people are displaced. Millions of people live in fear and rely on humanitarian aid for survival.</p>
      <ul class='layers'>
        <li class='active'>
          <a id='lra' href='#'>LRA Related Attacks<span class='icon'>&nbsp;</span></a>
          <div class='more'> Data dates go here</div>
        </li>
        <li class='active'>
          <a id='sec' href='#'>Humanitarian Incidents<span class='icon'>&nbsp;</span></a>
          <div class='more'> Data dates go here</div>
        </li>
        <li class='active'>
          <a id='idp' href='#'>Internally Displaced Persons<span class='icon'>&nbsp;</span></a>
          <div class='more'> Data dates go here</div>
        </li>
        <li class='active last'>
          <a id='ret' href='#'>Returnees<span class='icon'>&nbsp;</span></a>
          <div class='more'> Data dates go here</div>
        </li>
      </ul>
    </div>
    <div class='disclaimer'>
      <div class='disclaimer-inner'>
        <small><strong>Disclaimer:</strong> <br />The boundaries and names shown and the designations used on all maps do not imply endorsement from the United Nations. Sources: UN</small>
      </div>
  </div>
</div>
<script src='{{site.baseurl}}/wax/modestmaps.min.js'></script>
<script src='{{site.baseurl}}/wax/wax.mm.min.js'></script>
<script>
  $(document).ready(function () {
    RW.interactive();
  });
</script>
