 body {
  background: #fff;
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333;
  }

/* --------------------------------------
  Typography
----------------------------------------- */
input, select, textarea  {
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
/* Forms */
select,
input[type=text] {
  background: white;
  border: 1px solid #a0a0a0;
  outline: 0;
  padding: 0 5px;
  box-shadow: inset #ddd 0 1px 2px;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  }
select {
  width: 100px;
  }
input[type=text]:focus {
  border-color:#59b;
  box-shadow:
    #6ac 0 0 4px,
    inset #ddd 0 2px 3px;
  }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
  }

h1 { font-size: 18px; line-height: 24px; margin: 10px 0; }
h2 { font-size: 20px; line-height: 24px; margin: 10px 0; font-weight: bold; }
h3 { font-size: 16px; margin: 10px 0; }
h5 { font-size: 13px; margin: 10px 0; }
h6 { font-size: 11px; margin: 0; }

#header h1 {
  float: left;
  margin-left: 130px;
  font-size: 14px;
  line-height: 18px;
  }
h2.title {
  margin: 22px 0 10px;
  }
small {
  font-size: 11px;
  line-height: 16px;
  }
strong {
  font-weight: bold;
  }
em {
  font-style: italic;
  }
a {
  color: #18b;
  text-decoration: none;
  }
a.close,
.icon {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: block;
  text-indent: -999em;
  }
  ::-webkit-scrollbar {
       height: 8px;
       width: 10px;
       background: #fff;
       }
     ::-webkit-scrollbar:hover {
       background: #fff;
       }
     ::-webkit-scrollbar-thumb {
       background: #ccc;
       }
     ::-webkit-scrollbar-thumb:hover {
       background: #3c1108;
       }
     ::-webkit-scrollbar-thumb:vertical    { height: 25px; }
     ::-webkit-scrollbar-thumb:horizontal  { width: 25px; }

/* Table styling */
table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 12px;
  }
  /*table#drc-monthly-data {*/
    /*width: 70%;*/
    /*}*/
table th,
table td {
  padding: 4px 5px 0 10px;
  line-height: 18px;
  text-align: left;
  width: 20%;
  }
table th {
  font-weight: 500;
  vertical-align: bottom;
  }
table td {
  vertical-align: middle;
  border-top: 1px dotted #E4E4E0;
  }
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
  border-bottom: 1px solid #444;
  }
table tbody + tbody {
  border-top: 1px dotted #E4E4E0;
  }

.table {
  height: 265px;
  margin-top: 15px;
  width: 68%;
  }

/* --------------------------------------
  Page Layout and basic styling
----------------------------------------- */
.limiter {
  max-width: 1000px;
  margin: 0 auto;
  }
#branding {
  height: 38px;
  border-style: solid;
  border-width: 5px 1px 1px;
  border-color: #E4E4E0 #E4E4E0 #D4D4D0;
  background: #F4F4F0;
  position: relative;
  }
  #branding a {
    float: left;
    }
  #branding a.rw {
    background: transparent url(images/sprite.png) no-repeat 0 0;
    width: 110px;
    height: 35px;
    display: block;
    position: absolute;
    text-indent: -999em;
    top: 2px; left: 10px;
    }

#page-title {
  position: relative;
  padding: 5px 10px;
  background: #E8F4F4;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
  border-color: #DCECF0 #DCECF0 #a0a0a0;
  z-index: 500;
  }
  .page-title {
    overflow: hidden;
    font-size: 20px;
    text-shadow: #fff 0 1px 0;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: bold;
    }
  .page-subtitle {
    height: 20px;
    font-weight: normal;
    white-space: nowrap;
    margin-top: -10px;
    font-size: 14px;
    }

#interactive {
  position: relative;
  height: 479px;
  width: 68%;
  border-bottom: 1px solid #a0a0a0;
  }
#map-container {
  background: #fff url(images/bg.png) repeat 0 0;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  }
#map-bg,
#map {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  }
  #map {
    border-left: 1px solid #a0a0a0;
    }
#sidebar {
  position: absolute;
  right: 0; bottom: 0; top: 108px;
  z-index: 100;
  width: 32%;
  height: 885px;
  background: #fff;
  border-right: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  -moz-box-shadow: 0px -8px 8px rgba(0, 0, 0, .3);
   -webkit-box-shadow: 0px -8px 8px rgba(0, 0, 0, .3);
   box-shadow: 0px -8px 8px rgba(0, 0, 0, .3);
  }
.inner {
	padding: 0 10px;
  }

/* --------------------------------------
  Map
----------------------------------------- */
#year-select {
  position: absolute;
  bottom: 45px;
  left: 10px;
  }
#controls {
  position: absolute;
  top: 10px; right: 10px;
  background: #fff;
  border: 1px solid #a0a0a0;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.25);
  box-shadow: 0 0 6px rgba(0,0,0,.25);
  height: 50px;
  z-index: 50;
  width: 60px;
  text-shadow: 0 1px 0 #fff;
  }
  #controls a {
    font: 500 13px/28px 'Helvetica Neue', Helvetica, sans-serif;
    color: #404040;
    }
    #controls a:active {
      box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -moz-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      -webkit-box-shadow: inset rgba(0,0,0,0.1) 0px 1px 3px;
      }
    #controls a.share {
      background: white;
      position: absolute;
      display: block;
      left: 0;
      top: 24px;
      width: 50px;
      padding: 0 5px;
      height: 25px;
      border-top: 1px solid #999;
      text-align: center;
      line-height: 25px;
      }
    #controls a.zoomer {
      background: #fff;
      text-decoration: none;
      position: absolute;
      text-align: center;
      width: 30px;
      height: 24px;
      line-height: 24px;
      top: 0; left: 0;
      -moz-transition: color 0.1s linear;
      -o-transition: color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      transition: color 0.1s linear;
      z-index: 100;
      }
    #controls a.zoomout {
      left: 29px;
      border-left: 1px solid #ccc;
      }
    #controls a.zoomdisabled:active,
    #controls a.zoomdisabled {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #ccc;
      cursor: default;
      }

/* Map Teaser Tooltips */
.wax-tooltip {
  position: absolute;
  height: auto;
  background: rgba(255,255,255,0.95);
  border: 1px solid #a0a0a0;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.25);
  box-shadow: 0 0 6px rgba(0,0,0,.25);
  max-width: 360px;
  height: 100%;
  height: auto!important;
  max-height: 360px;
  padding: 10px;
  z-index: 1000;
  top: 10px; left: 10px;
  overflow: auto;
  }
  .wax-tooltip h2 {
    font-size: 16px;
    margin: 10px 0 0;
    }
  .wax-tooltip h3 {
    margin: 0 0 10px;
    }

/*-----------------------------------
  Share.
-------------------------------------*/
#overlay {
  display: none;
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.30);
  z-index: 9999;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  }
  #overlay.active {
    top: 0;
    display: block;
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
    }

/* Modal windows */
.modal {
  background: #fff;
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 9999;
  width: 480px;
  margin-left: -240px;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  }
  .modal .inner {
    padding: 5px 10px 10px;
    }
  .modal.active {
    top: 10%;
    }
  #share h3 {
    font-weight: bold;
    }
  #share small {
    display: block;
    }
   #share textarea {
    font-family: 'Menlo Regular',Consolas,monospace;
    resize: none;
    margin: 10px 0 5px;
    padding: 10px;
    color: #333;
    line-height: 20px;
    width: 430px;
    }
  #twitter,
  #facebook {
    display: inline-block;
    position: relative;
    padding: 2px 15px;
    background: #fff;
    color: #fff;
    font-weight: bold;
    border: 2px solid #a0a0a0;
    }
  #twitter {
    background: #0ac;
    border-color: #4ce;
    }
  #facebook {
    background: #359;
    border-color: #68c;
    }
a.close {
  background-color: #333;
  background-position: -220px 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  }

/* --------------------------------------
  Sidebar
----------------------------------------- */
ul.layers {
  margin: 30px 0 20px;
  }
  ul.layers li a{
    color: #a0a0a0;
    border-top: 1px solid #D4D4D0;
    display: block;
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
    font-size: 11px;
    overflow: hidden;
    font-weight: 500;
    }
    ul.layers li.last a { border-bottom: 1px solid #d4d4d0; }
    ul.layers li.active {
      background: none;
      }
    ul.layers li a:hover {
      color: #a0a0a0;
      }
    ul.layers li.active a{
      background: fafaf8;
      border-color: #a0a0a0;
      color: #333;
      }
      ul.layers li.active a:after {
        background: transparent url(images/arrow.png) no-repeat 0 0;
        position: absolute;
        content: '';
        margin-top: -1px;
        left: -18px;
        width: 18px;
        height: 35px;
        }
      ul.layers li a span {
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 2px;
        margin-right: 5px;
        }
        ul.layers li a#idp span { background-position: -210px -20px; }
        ul.layers li a#ret span { background-position: -210px -55px; }
        ul.layers li a#lra span { background-position: -210px -125px; }
        ul.layers li a#sec span { background-position: -210px -90px; }

.more {
  padding: 10px;
  }
  .graphs {
      border: 1px solid #D4D4D0;
      width: 90%;
      margin: 0 auto;
      height: 510px;
      background: #F4F4F0;
      margin-bottom: 20px;
      overflow: hidden;
    }    

    .graphs img {
      padding-left: 20px;
      padding-top: 28px;    
    }
.disclaimer {
  position: absolute;
  width: 100%;
  bottom: 0;
  }
  .disclaimer-inner {
    background: #fff8e0;
    border-top: 1px solid #E7DFCA;
    padding: 10px 10px 12px;
    line-height: 16px;
    }

/* --------------------------------------
  Time Slider & Totals
----------------------------------------- */
.totals {
  font-size: 18px;
  padding: 10px 0 0 10px;
}
.totals span {
  color: #b73232;
  font-weight: bold;
}
#slider {
  background: #fff;
  height: 34px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 4px 6px rgba(0,0,0,0.10);
  box-shadow: inset 0 4px 6px rgba(0,0,0,0.10);
  }
.dragdealer {
  position: relative;
  }
  .dragdealer .handle {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    }
  .dragdealer .bar {
    background: transparent url(images/sprite.png) no-repeat 0 -40px;
    width: 85px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.30);
    bottom: -1px;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
    height: 48px;
    }

/* --------------------------------------
   
----------------------------------------- */
#footer {
  border-top: 1px solid #999;
  background: #fff;
  height: 60px;
  line-height: 40px;
  }
  #footer ul {
    margin-left: 12px;
    margin-top: 8px;
    }
    #footer ul li {
      float: left;
      }
      #footer ul li a {
        color: #B33;
        text-decoration: underline;
        margin-right: 10px;
        }

/*-----------------------------------
  Misc.
-------------------------------------*/

/*Loading DIV*/
.loading {
  position: fixed;
  left: 50%;
  top: 360px;
  width: 80px;
  height: 45px;
  padding: 25px 0 0;
  margin: 0 0 0 -50px;
  z-index: 99999;
  }

/* --------------------------------------
  Markup free clearing
  Details: http: //perishablepress.com/press/2009/12/06/new-clearfix-hack
----------------------------------------- */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

/*-----------------------------------
  CSS Animations
-------------------------------------*/
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .3s;
  }
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
