<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Relief Web - {{page.title}}</title>
<link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
<link rel='stylesheet' href='{{site.baseurl}}/site.css' media='all'>
<script src='{{site.baseurl}}/site.js'></script>
</head>
<body>
 <div id="header" class="confine">
     <a href="/taxonomy/term/75" class="active">
	    <img src="http://reliefweb.int/sites/reliefweb.int/files/styles/s/public/country-icons/cod.png" width="40" height="40" alt=""></a> <h2>Democratic Republic of the Congo (the): Insecurity and Displacement</h2>  
 </div>

  {{content}}
</body>
</html>